.Blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: -webkit-fill-available;
    gap: 40px;
}
.ArticleBlog{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: -webkit-fill-available;
}
.articles{
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
    padding-top: 44px;
    padding-bottom: 44px;
    width: 100%
}
.articlesBlog{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
  width: 100%;
  max-width: 1200px;
}
.articleBoto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.articleIndividual{
    background-image: none;
    background-color: black;
    color: white;
    border-radius: 10px 10px 0px 0px;
    padding: 16px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    min-height: 300px;
    cursor: pointer;
}

.articleIndividual::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.20);
  z-index: 0;
}

.articleIndividual:hover::before {
  background: rgba(0, 0, 0, 0.4);
}

.articleIndividual > * {
  position: relative;
  z-index: 1;
}

.DivDataCategoria{
    display: flex;
    justify-content: space-between;
    font-family: Quicksand, sans-serif;
    font-weight: 600;
}
.data{
    background-color: purple;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
}
.categoria{
    background-color: orange;
    padding: 8px;
    border-radius: 8px;
    height: min-content;
}
.Dia{
    font-size: x-large;
    font-weight: bold;
}
.nomArticle{
    font-family: Quicksand, sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.autorArticle{
    font-family: Quicksand, sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.InfoArticle{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.resumArticle{
    font-family: Quicksand, sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.resumArticleText{
    font-size: 15px;
}
.resum{
    display: flex;
    flex-direction: column;
}
.autor{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
.articleDetall{
    justify-items: center;
}
.cosArticleText{
    white-space: pre-line;
}
.HeaderArticleDetall{
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}