.divSuperiorAssessorament {
  position: relative;
  display: flex;
  height: auto;
  width: 100%;
  overflow: hidden;
  flex-direction: row-reverse;
}

.divImatgeAssessorament {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}

.imatgeAssessorament {
  width: 100%;
  object-fit: cover;
}

.degradatOverlayAssessorament {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  background: linear-gradient(to left, #A60066 75%, #ff00f500);
  z-index: 1;
}

.divTitolResumAssessorament {
  position: relative;
  z-index: 2;
    padding: 40px 128px 40px 10px;
  width: 45%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-end;
}
.blanc{
    outline: 1px solid #ffffff;
}
.resumAssessorament{
    padding-left: 20px;
    text-align: left;
}
.botoBlanc{
    background-color: transparent;
    border-color: #ffffff;
    border: 1px;
    border-style: solid;
    margin-top: 18px;
}
.divInfoAssessorament{
    display: flex;
    flex-direction: column;
    padding: 44px 128px;
    align-items: center;
    gap: 24px;
}
.titolInfo{
    margin: 0px;
    font-family: 'Quicksand';
    font-weight: bolder;
}
.detallContingutAssessorament{
    display: flex;
    padding: 48px 128px;
    gap: 64px;
    justify-content: center;
    background-color: #A60066;
    color: #ffffff;
}
.blocText{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 33%;
}
.textDetall{
    text-align: left;
    white-space: pre-wrap;
}
.titolDetall{
    margin-top: 0px;
}
.divDubtes{
    display: flex;
    flex-direction: column;
    padding: 44px 128px;
    align-items: start;
    gap: 24px;
}
.divDesplegable {
    width: -webkit-fill-available;
}

.preguntaWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pregunta {
  margin: 0;
  font-weight: bold;
}


.fletxa {
  font-size: 20px;
  transition: transform 0.3s ease;
}

.fletxa.oberta {
  transform: rotate(180deg);
}

.resposta {
  margin-top: 12px;
  margin-bottom: 12px;
  white-space: pre-wrap;
}

.botoProgrames{
  margin-top: 0px;
  width: -webkit-fill-available;
}

@media screen and (max-width: 1049px){
  .imatgeAssessorament{
    height: -webkit-fill-available;
  }
}

@media screen and (max-width: 950px) {
    .underlineProgrames {
        outline: 1px solid #a60066;
    }
}

@media screen and (max-width: 850px){
  .divTitolResumAssessorament {
    padding: 44px 40px;
    width: 100%;
    background-color: #a60066;
    align-items: center;
  }
  .divSuperiorAssessorament {
    flex-direction: column;
    height: auto;
  }

  .divImatgeAssessorament {
    position: static;
    width: 100%;
    justify-content: center;
  }

  .imatgeAssessorament {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
  }

  .degradatOverlayAssessorament {
    display: none;
  }

  .divInfoAssessorament {
    padding: 44px 40px;
  }

  .detallContingutAssessorament {
    flex-direction: column;
    padding: 44px 40px;
    gap: 32px;
    align-items: center;
  }

  .blocText {
    width: 100%;
  }

  /*.textDetall {
    font-size: 15px;
  }

  .resposta {
    font-size: 15px;
  }*/

  .divDubtes {
    padding: 44px 40px;
  }

  .divTitolDubtes {
    align-items: center;
    text-align: center;
  }

  .Titols h1 {
    text-align: center;
  }

  .resumAssessorament {
    padding-left: 0px;
    text-align: center;
  }

  .titolDetall{
    margin-top: 0px;
    text-align: center;
  }
}
