.Blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: -webkit-fill-available;
    gap: 40px;
}
.articles{
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
    padding: 0px 128px;
    width: 100%;
}
.articlesBlog{
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
    width: 100%;
}
.articleBoto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.articleIndividual{
    background-image: none;
    background-color: black;
    color: white;
    border-radius: 10px 10px 0px 0px;
    padding: 16px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
}
.articleIndividualInici{
    background-image: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 16px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    min-height: 300px;
    cursor: pointer;
    width: 100%;
}

.articleIndividualInici::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.20);
  z-index: 0;
}

.articleIndividualInici:hover::before {
  background: rgba(0, 0, 0, 0.4);
}

.articleIndividualInici > * {
  position: relative;
  z-index: 1;
}


.DivDataCategoria{
    display: flex;
    justify-content: space-between;
    font-family: Quicksand, sans-serif;
    font-weight: 600;
}
.data{
    background-color: purple;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
}
.categoria{
    background-color: orange;
    padding: 8px;
    border-radius: 8px;
    height: min-content;
}
.Dia{
    font-size: x-large;
    font-weight: bold;
}
.nomArticle{
    font-family: Quicksand, sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.autorArticle{
    font-family: Quicksand, sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.InfoArticle{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.resumArticle{
    font-family: Quicksand, sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.resumArticleText{
    font-size: 15px;
}
.resum{
    display: flex;
    flex-direction: column;
}
.autor{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
.iconaUsuari{
    height: min-content;
}
.titolArticle{
    font-size: 32px;
}
.titolArticle.titolArticlePetit{
    font-size: 24px;
}
.articles.articlesRecomanats{
    align-items: flex-start;
    width: -webkit-fill-available;
}
.BotoArticle{
    width: -webkit-fill-available;
    background-color: #6e0a78;
    color: #ffffff;
    padding: 18px;
    border-style: hidden;
    font-size: 16px;
    font-weight: 600;
    font-family: Quicksand, sans-serif;
    text-align: center;
    cursor: pointer;
    border-radius: 0px 0px 10px 10px;
    margin-top: 0px;
}

@media (max-width: 768px) {
  .articles {
    padding: 0 24px;
  }
  .articles.articlesRecomanats{
    padding: 44px 40px;
  }

  .articlesBlog {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }

  .articleBoto {
    width: 100%;
  }

  .articleIndividual {
    width: 100%;
    height: auto;
  }

  .titolArticle {
    text-align: center;
  }

  .DivDataCategoria {
    align-items: flex-start;
    gap: 8px;
  }

  .autor {
    flex-wrap: wrap;
  }
}
