.contacte{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: -webkit-fill-available;
    height: auto;
    padding: 44px 128px;
    gap: 40px;
}
.contingutInfo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    width: -webkit-fill-available;
}
.infoContacte{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 24px;
    width: -webkit-fill-available;
}
.divInfo{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 16px;
}
.divHorari{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 16px;
}
.divTitolInfo{
    font-family: Quicksand, sans-serif;
}
.divTitolLocalitzacio{
    font-family: Quicksand, sans-serif;
}

.titolsNegreta{
    font-family: Quicksand, sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.subtitol{
    margin-top: 0px;
    color: #6E0A78;
}
.formContacte{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 24px;
    width: -webkit-fill-available;
    font-family: Quicksand, sans-serif;
    align-items: center;
    max-width: 280px;
}
.divsForm{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 8px;
    width: -webkit-fill-available;
}
input{
    padding: 12px 12px;
    border-radius: 8px;
    border-style: solid;
    border-color: #6E0A78;
    color: #6E0A78;
    border-width: 2px;
    font-family: Quicksand, sans-serif;
    font-size: 16px;
}
textarea{
    padding: 10px 12px;
    border-radius: 8px;
    border-style: solid;
    border-color: #6E0A78;
    color: #6E0A78;
    border-width: 2px;
    font-family: Quicksand, sans-serif;
    font-size: 16px;
}
.BotoFormContacte{
    margin-top: 0px;
    width: max-content;
    background-color: #6e0a78;
    color: #ffffff;
    border-radius: 8px;
    padding: 18px 85px;
    border-style: hidden;
    font-size: 16px;
    font-weight: 600;
    font-family: Quicksand, sans-serif;
    text-align: center;
}
.divMaps {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-end;
  width: -webkit-fill-available;
  height: 400px; /* o qualsevol alçada que vulguis */
}

.h2Contacte{
    margin: 0px;
}
.iframe-mapa {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 12px;
}
.textCosContacte{
    font-size: 18px;
}
.textInput{
    font-size: 16px;
}
.ContenidorLila{
    display: none;
}

@media screen and (max-width: 950px) {
    .contacte{
        padding: 44px 40px;
        gap: 32px;
    }

    .contingutInfo {
        display: flex    ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        width: 100%;
        flex-wrap: wrap;
    }
    
    .formContacte{
        max-width: none;
    }

    .infoContacte{
        flex-direction: column-reverse;
    }
    .divTitolInfo{
        padding-top: 32px;
    }
    .divTitolLocalitzacio{
        padding-top: 40px;
    }
    .ContenidorLila{
        position: absolute;
        display: block;
        z-index: -1;
        background-color: #6E0A78;
        width: 100%;
        height: 645px;
        top: 515px;
    }
    .subtitol{
        color: #ffffff;
    }
    .VolemSaberDeTu{
        color: #ffffff;
    }
    .textInputContacte{
        color: #ffffff;
        font-size: 16px;
    }
    .BotoFormContacte{
        background-color: white;
        color: #6e0a78;
    }
    .underline{
        color: #ffffff;
        outline: 1px solid #ffffff;
    }
}