.ctaMissatge{
    font-size: 14px;
    animation: fadeInUp 0.3s ease-out;
    white-space: nowrap;
    position: fixed;
    top: 130px;
    left: 20px;
    background-color: #3e1043;
    color: #ffffff;
    padding: 10px 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    box-shadow: -5px 5px 15px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
    flex-direction: row;
    align-items: flex-start;
}
.creuCtaFlotant{
    background-color: #3e1043;
    border: none;
    color: white;
    cursor: pointer;
}
.ctaTextMissatge{
    padding: 8px;
    font-family: quicksand;
}

@media screen and (max-width: 1049px) {
    .ctaMissatge{
        top: 110px;
        left: 15px;
    }
}