.demanarCita{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: -webkit-fill-available;
    height: auto;
    padding: 44px 128px;
    gap: 24px;
}
.divSuperiorDemanarCita{
    display: flex;
    flex-direction: column;
}
.formDemanarCita{
    display: flex;
    width: -webkit-fill-available;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.desplegableDemanarCita{
    display: flex;
    width: -webkit-fill-available;
    flex-direction: column;
    gap: 8px;
}
.llistaDemanarCitaServeis{
    padding: 12px 12px;
    border-radius: 8px;
    border-style: solid;
    border-color: #6E0A78;
    color: #6E0A78;
    border-width: 2px;
    font-family: Quicksand, sans-serif;
    font-size: 14px;
}
.llistaDemanarCitaAssessorament{
    padding: 12px 12px;
    border-radius: 8px;
    border-style: solid;
    border-color: #A60066;
    color: #A60066;
    border-width: 2px;
    font-family: Quicksand, sans-serif;
    font-size: 14px;
}
.divsForm{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 8px;
    width: -webkit-fill-available;
}
.BotoCitaAssessorament{
    margin-top: 8px;
    width: max-content;
    background-color: #A60066;
    color: #ffffff;
    border-radius: 8px;
    padding: 18px 85px;
    border-style: hidden;
    font-size: 16px;
}
.BotoCitaServeis{
    margin-top: 8px;
    width: max-content;
    background-color: #6e0a78;
    color: #ffffff;
    border-radius: 8px;
    padding: 18px 85px;
    border-style: hidden;
    font-size: 16px;
    font-weight: 600;
    font-family: Quicksand, sans-serif;
    text-align: center;
}

@media screen and (max-width: 950px) {
    .demanarCita{
        padding: 44px 40px;
    }
    .boto{
        width: -webkit-fill-available;
    }
}