.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  background-color: white;
  padding: 24px 128px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.header.amagat {
  transform: translateY(-100%);
}

.header.visible {
  transform: translateY(0);
}

.iconaMenuHamburguesa{
  display: none;
}

.logo {
  width: 55px;
  height: 60px;
}

.nav {
  display: flex;
  gap: 25px;
  height: 20px;
  align-items: center;
}

.nav-item {
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max-content;
}

.nav-item.active {
  font-weight: 700;
  color: #A60066;
}

.nav-item.active .underline {
  height: 0;
  align-self: stretch;
  outline: 1px solid #A60066;
  outline-offset: -0.5px;
  margin-top: 2px;
}

.social-icons {
  display: flex;
  gap: 12px;
  align-items: center;
}

.icon {
  background: none;
}

.user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.login-register {
  display: flex;
  align-items: center;
}

.registrat{
  gap: 8px;
}

.registrat{
  margin-right: 0px;
}

.separator {
  width: 20px;
  height: 0;
  transform: rotate(-90deg);
  outline: 1px solid #a60066;
  outline-offset: -0.5px;
}

.icon-header {
  width: 20px;
  height: 20px;
  color: #a60066;
  cursor: pointer;
}

/* --- Menú Hamburguesa --- */
.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.menu-toggle .bar {
  height: 3px;
  width: 100%;
  background-color: #a60066;
  border-radius: 2px;
}

.icon-header-responsive {
  display: none;
}

.header.obert.visible {
  height: -webkit-fill-available;
}

.nav.obert {
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav.obert .nav-item.active {
  height: fit-content;
}



@media (max-width: 1250px) and (min-width: 1050px) {
  .header {
    padding: 24px 40px;
  }
}

@media (max-width: 1049px) {
  .header {
    padding: 16px 24px;
    flex-wrap: wrap;
  }

  .header.obert {
    padding: 16px 24px;
    flex-wrap: wrap;
    height: -webkit-fill-available;
  }

  .menu-toggle {
    display: flex;
  }

  .nav {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 16px;
    height: auto;
  }

  .nav.obert {
    display: flex;
    padding: 0px 70px;
    background-color: #FAFAFA;
    margin: 16px -36px 16px -36px;
    align-items: center;
  }

  .social-icons,
  .user {
    display: none;
  }
  .iconaMenuHamburguesa{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }
  .icon-header-responsive {
  width: 20px;
  height: 20px;
  color: #a60066;
  cursor: pointer;
  display: flex;
  }
}

