.banner {
  position: relative;
  height: 20vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
}
.bannerInici {
  position: relative;
  height: 60vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.imatgeBanner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.overlayNegre {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(77 18 83 / 75%);
  z-index: 2;
}

.contingutBanner {
  z-index: 3;
  padding: 44px 128px;
}

.titolBanner {
  font-size: 3rem;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 1rem;
  font-weight: 400;
}

.subtitolBanner {
  font-size: 1.5rem;
  font-weight: 400;
}

.QuiSom{
  height: auto;
  width: -webkit-fill-available;
  padding: 44px 128px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.TextImatge{
  display: inline-flex;
  gap: 24px;
}
h1{
  padding: 0px;
  margin: 0px;
  font-family: Quicksand, sans-serif;
  font-size: 32px;
}
p{
  padding: 0px;
  margin: 0px;
  font-size: 18px;
}
.TextQuiSom{
  gap: 25px;
}
.Imatge{
  object-fit: cover;
  object-position: center;
}
.underline {
  height: 0;
  align-self: stretch;
  outline: 1px solid #A60066;
  outline-offset: -0.5px;
  margin-top: 8px;
}
.underlineBlanc {
  height: 0;
  align-self: stretch;
  outline: 1px solid #ffffff;
  outline-offset: -0.5px;
  margin-top: 8px;
}
.Titols{
  width: fit-content;
}
.TextBoto{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Boto{
  margin-top: 24px;
  width: -webkit-fill-available;
  background-color: #6e0a78;
  color: #ffffff;
  border-radius: 8px;
  padding: 18px 85px;
  border-style: hidden;
  font-size: 16px;
  font-weight: 600;
  font-family: Quicksand, sans-serif;
  text-align: center;
  max-width: 330px;
  cursor: pointer;
}
.CartaServeisInici{
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: fit-content;
}
.IconoNom {
  justify-items: center;
  width: 140px;
}
.nomInici {
  font-weight: normal;
  font-family: Quicksand, sans-serif;
  text-align: center;
}
.divServeis{
  background-color: #6e0a78;
  height: auto;
  width: -webkit-fill-available;
  padding: 44px 128px;
  gap: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#ffffff;
}
.iniciServeis{
  height: auto;
  width: -webkit-fill-available;
  padding: 0px 0px;
  gap: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Boto.BotoVoraBlanca{
  border-color: #ffffff;
  border-style: double;
  margin-top: 0px;
}
.divAssessorament {
  position: relative;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwLFm53tEjkRFMJcgmwsX2o9n71lWJOVZ4qQ&s');
  background-size: cover;
  background-position: center;
  width: -webkit-fill-available;
  padding: 44px 128px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  z-index: 0;
  overflow: hidden;
}

.divAssessorament::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 0.5 = 50% opacitat negra */
  z-index: 1;
}

.divAssessorament > * {
  position: relative;
  z-index: 2;
}
.TextBotoAssessorament{
  display: flex;;
  flex-direction: column;
  align-items: center;
  flex: none;
  min-width: 250px;
}

.BotonsAssessorament{
  display: flex;
  gap: 24px;
  flex-wrap: nowrap;
  justify-content: center;
}
.Boto.BotoBlanc{
  background-color: #ffffff;
  color: black;
}
.Boto.BotoVoraBlancaTransparent{
  border-color: #ffffff;
  border-style: double;
  background-color: transparent;
}
.iniciBlog{
  height: auto;
  width: -webkit-fill-available;
  padding: 44px 20px;
  gap: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.articles{
  align-items: flex-end;
}

.nomServeisPetit{
  font-size: 18px;
  text-align: center;
  font-family: 'Quicksand';
  padding-top: 8px;
}

@media screen and (max-width: 1200px) {
  .TextImatgeQuiSom {
    flex-direction: column-reverse;
    align-items: center;
  }

  .Imatge {
    max-width: none;
  }

  /*.TextQuiSom,
  .TextValors {
    font-size: 16px;
  }*/


  .TextQuiSom, .TextValors, .TextBoto {
    flex: none;
    }
}

@media screen and (max-width: 800px) {
  .BotonsAssessorament {
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 772px) {
  .BotonsAssessorament {
    gap: 0px;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .QuiSom,
  .Valors,
  .Equip {
    padding: 32px 40px;
  }
  .divServeis{
    padding: 44px 40px;
  }
  .inici{
    padding: 44px 40px;
  }
  .contingutBanner{
    padding: 44px 40px;
  }
}
/* ========== GLOBAL (recomanat) ========== */
* {
  box-sizing: border-box;
}