/* ========== SECCIONS COMUNES ========== */
.QuiSom,
.Equip,
.Valors {
  width: 100%;
  padding: 44px 128px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-sizing: border-box;
}

/* ========== CONTINGUT FLEXIBLE AMB IMATGE I TEXT ========== */
.TextImatgeQuiSom {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* ========== TEXT I BOTÓ DE "QUI SOM" ========== */
.TextBoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 300px;
  min-width: 250px;
}

.TextQuiSom {
  flex: none;
  font-size: 16px;
  text-align: justify;
  min-width: 250px;
}

.TextValors {
  flex: none;
  font-size: 16px;
  text-align: justify;
  min-width: 250px;
  flex: 1 1 300px;
}


.BotoQuiSom {
  border: none;
  cursor: pointer;
  margin-top: 24px;
    background-color: #6e0a78;
    color: #ffffff;
    border-radius: 8px;
    padding: 18px 85px;
    border-style: hidden;
    font-size: 16px;
    font-weight: 600;
    font-family: Quicksand, sans-serif;
    text-align: center;
}

/* ========== IMATGE COMUNA ========== */
.Imatge {
  object-fit: cover;
  object-position: center;
  flex: 1 1 300px;
  width: 100%;
  height: auto;
  border-radius: 8px;
  max-width: 600px;
}

/* ========== SECCIÓ EQUIP ========== */
.Equip {
  align-items: center;
}

.Cartes {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}

.Carta {
  text-align: center;
  width: 200px;
}

.ImatgeCarta {
  width: 200px;
  height: 300px;
  border-radius: 16px;
  object-fit: cover;
}

/* ========== SECCIÓ VALORS ========== */
.Valors {
  background-color: #6E0A78;
  color: #FFFFFF;
  align-items: flex-end;
}

/* ========== MEDIA QUERIES ========== */
@media screen and (max-width: 1200px) {
  .TextImatgeQuiSom {
    flex-direction: column-reverse;
    align-items: center;
  }

  .Imatge {
    max-width: none;
  }

  .TextQuiSom,
  .TextValors {
    font-size: 15px;
  }


  .TextQuiSom, .TextValors, .TextBoto {
    flex: none;
    }
}

@media screen and (max-width: 768px) {
  .QuiSom,
  .Valors,
  .Equip {
    padding: 32px 40px;
  }
}

/* ========== GLOBAL (recomanat) ========== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
