.QuiSom{
    height: auto;
    width: -webkit-fill-available;
    padding: 44px 128px;
    gap: 24px;
    display: flex;
    flex-direction: column;
}
.TextImatge{
    display: inline-flex;
    gap: 24px;
}
.Valors{
    height: auto;
    width: -webkit-fill-available;
    padding: 44px 128px;
    text-align: right;
    background-color: #6E0A78;
    color: #FFFFFF;
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
h1{
    padding: 0px;
    margin: 0px;
    font-family: Quicksand, sans-serif;
}
p{
    padding: 0px;
    margin: 0px;
}
.TextQuiSom{
    gap: 25px;
}
.TextValors{
    text-align: left;
    gap: 24px;
}
.Imatge{
    width: fit-content;
    height: fit-content;
}
.Equip{
    height: auto;
    width: -webkit-fill-available;
    padding: 44px 128px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Cartes{
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
}
.ImatgeCarta{
    width: 200px;
    height: 300px;
    border-radius: 16px;
}
.Nom{
    font-weight: bold;
    font-family: Quicksand, sans-serif;
}
.Rol{
    font-family: Quicksand, sans-serif;
}
.Carta{
    text-align: center;
}
.underline {
  height: 0;
  align-self: stretch;
  outline: 1px solid #A60066;
  outline-offset: -0.5px;
  margin-top: 8px;
}
.underlineBlanc {
  height: 0;
  align-self: stretch;
  outline: 1px solid #ffffff;
  outline-offset: -0.5px;
  margin-top: 8px;
}
.Titols{
    width: fit-content;
}